# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter notebook
.ipynb_checkpoints

# VS Code
.vscode

# Logs
logs/

# Canvas Snapshots
CanvasSnapshots/

# Environment variables (eg. OPENAI_API_KEY)
.env

# Workspaces
workspaces/